<configuration scan="true">
  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%d [%thread] %-5level %logger{36} - %msg%n</pattern>
    </encoder>
  </appender>
  <appender name="SLACK" class="com.github.maricn.logback.SlackAppender">
    <webhookUri>${SLACK_WEBHOOK_URL}</webhookUri>
    <!-- Channel that you want to post - default is #general -->
    <channel>#random</channel>
    <!-- Formatting (you can use Slack formatting - URL links, code formatting, etc.) -->
    <layout class="ch.qos.logback.classic.PatternLayout">
      <pattern>%d [%thread] %-5level %logger{36} - %msg%n</pattern>
    </layout>
    <!-- Username of the messages sender -->
    <username>${HOSTNAME}</username>
    <!-- Emoji to be used for messages -->
    <iconEmoji>:stuck_out_tongue_winking_eye:</iconEmoji>
    <!-- If color coding of log levels should be used -->
    <colorCoding>true</colorCoding>
  </appender>

  <logger name="it.tccr.puppet" level="INFO" additivity="false">
    <appender-ref ref="STDOUT"/>
    <appender-ref ref="SLACK"/>
  </logger>

  <root level="ERROR">
    <appender-ref ref="STDOUT"/>
  </root>
</configuration>
